.root {
	/* Define aliases for colors */
	-ps-base-color: rgb(255,220,233);
	-ps-text-color: rgb(98,98,98);

	/* The derive() function changes brightness of a color */
	-ps-control-background-color: derive(-ps-base-color, 120.0%);
	-ps-control-foreground-color: derive(-ps-base-color, 60.0%);

	-fx-background-color: -ps-base-color;
}

.label {
	-fx-text-fill: -ps-text-color;
}

.button {
	-fx-text-fill: -ps-text-color;
}
